name: Manual UAT Runner

on:
  workflow_dispatch:
    inputs:
      solution:
        description: 'Business Solution (contoh: payment_gateway)'
        required: true
        default: 'payment_gateway'
      case_name:
        description: 'API Case Name (opsional, contoh: create_order_test)'
        required: false

jobs:
  execute-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          tools: composer:v2
          extensions: zip, curl, mbstring, openssl

      - name: Setup Java (For Selenium)
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable xvfb libnss3 libatk1.0-0 libatk-bridge2.0-0 libcups2 libdrm2 libxkbcommon0 libxcomposite1 libxdamage1 libxrandr2 libgbm1 libasound2t64

      - name: Install PHP Dependencies
        run: |
          if [ -d "test/php" ]; then
            cd test/php
            composer install --no-interaction --prefer-dist
          fi

      - name: Prepare Keys and Environment
        run: |
          # 1. Buat file Private Key asli (Penting: Tanpa modifikasi sed)
          cat <<EOF > private_key.pem
          -----BEGIN RSA PRIVATE KEY-----
          MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQDmO1Gi7/L7e+sn
          Ur21ik0UAvfN6ypBNqG8yd76TpZKU+F61zgxFJXD528zyXllKGUylTL7wp4O02mI
          mWjRF3s2/tUkg/y03S3u2F1zIwf6gl8Sh4A1syq1SnNBuw/r5MF2z5yEiVDLMrZk
          zS8liAMLoPHlxRNK9ax8Z6x0XkrXGk/mmXNW1kzBszUOaAo9bg2gYbLhxgmWj+33
          atef6FcnnTl5DHwG5ftcyI6n0G6gw5J01nib4qtcJp0a2/oeL3VD/OyPhcuLa4K8
          3ERs2e+6jsXtmYMnjqbSFoLZjkkCmNyO21vwtAQEd0oqgEY13TH11lJrHCdoeSmf
          3t1h4p3JAgMBAAECggEAIkDoE/RcM9NLeLXEONrDPft1D+NxjXNJ2/My5A3GKXfS
          X7rehtrXr2Zi8pMCpyy75asyAygA6RbGKEcew6EZOWTvpDeo5OXVXCg/uw4WtUwp
          RfH3/sVR0NgrTre8li2aJQmdcVCWvyyj21p1rcFPJq9C3hsUlD359CZej4+p1dex
          lpGLnABxLO2rUzbLKZ5U4eN6CjaAOIAzkKBVEzuz4rRQt1FY0Zkcxz6p1bln22Dj
          rwadVKP8/48PEvSICmxSlKicaR+ajgL5ZoOB5mgpolvZc72p7V3K1Ueh4O7dmRiT
          Azt5rIkvx8OHRWmxtBxuLOwNTO+5cvvDbVjpgfqcyQKBgQD0hQAWJuWuFbk41ND9
          58txuCoR7zCoB/OK/sSVVsFFLIuaHrFD2mVnQJk/5m9VF0FHnOpBjKn0dElLmw+L
          WQFIlvL+J+VVU2rxSuE2aBm8x7e4F6NaF7RK86ugOhNm/XL6jCY6J1BKXljQ2v8C
          7ESpnQVULntF2xksqxyY61kj1QKBgQDxCpYXMKW/tDzgYnCWdvdVhk2ARKfhKBmb
          wJxXpHyXziQiZtANBmvNCOpEkkV6MA0uFU/2OqA8Cz3hiLxTSEni+nx3mC9nHntG
          A8cIWYbYACAj1c0NviQ1iNcNTIHx1vyvkQlcVc4nqK8V+d/88TEHEiUYadbJJIhs
          WnmmVOawJQKBgG8WVXm65jH2sJV/KguQWT8q2gIX1tUf96c4I3ttVJTmre2w7/vR
          pqwIDxeWyxGvZPrx8QMisrvacMomgiNeplSiL3cEDQ58vWMuD682ECtR2MeMBayS
          hFhg56H9gH8Tuj7VmTBmV/XRcyw/sgdT68XbDma2T07nQUKn4nAey/qZAoGAHzQj
          ofTmQB7xEosr0A6ujh/IwKYipX8vcX5Jvv7IMk65VsrAfC8snWpeCWp2HA9EZYbU
          xydnvt4lsKCm4JEnH38VxdWprUvA4ZtzlJ0iW6wIfRscZH8M6PFCBbK1z7zpEUFR
          WOayvWeU4t9qI7CFjEjJDJQG/hsAniZIQUQUaRECgYBsuKhVo01nmRmrhqzWGbTw
          3gFyEHbaaUGjRlVz/9D23iiOgWMq5H2wN++70RVdMdsV1MLWYAaSWWWrfQmI3sIC
          +f14ozQw3jhaxFfND9IA44yzLpSU1+BwrVniPW0OchZzXskylRKsqhhkP9cHn3Z/
          RMD/d/LTLDNvHcaULQz3SQ==
          -----END RSA PRIVATE KEY-----
          EOF

          # 2. Buat file .env (Kita arahkan PRIVATE_KEY ke path filenya)
          cat <<EOF > .env
          MERCHANT_ID=216620020014045559303
          X_PARTNER_ID=2026021421181946563086
          CLIENT_ID=2026021421181946563086
          CLIENT_SECRET=58439bb51430dd3ea566ae59ff7096d1c8753fe70fa6c4728acbc2bcea2a106e
          ORIGIN=payment.ojgrup.com
          ENV_TYPE=sandbox
          PRIVATE_KEY=$(pwd)/private_key.pem
          DANA_PUBLIC_KEY="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA5jtRou/y+3vrJ1K9tYpNFAL3zesqQTahvMne+k6WSlPhetc4MRSVw+dvM8l5ZShlMpUy+8KeDtNpiJlo0Rd7Nv7VJIP8tN0t7thdcyMH+oJfEoeANbMqtUpzQbsP6+TBds+chIlQyzK2ZM0vJYgDC6Dx5cUTSvWsfGesdF5K1xpP5plzVtZMwbM1DmgKPW4NoGGy4cYJlo/t92rXn+hXJ505eQx8BuX7XMiOp9BuoMOSdNZ4m+KrXCadGtv6Hi91Q/zsj4XLi2uCvNxEbNnvuo7F7ZmDJ46m0haC2Y5JApjcjttb8LQEBHdKKoBGNd0x9dZSaxwnaHkpn97dYeKdyQIDAQAB"
          EOF
          
          chmod 600 private_key.pem
          chmod +x run-test.sh

      - name: Run DANA UAT with Virtual Display
        run: |
          Xvfb :99 -screen 0 1920x1080x24 &
          export DISPLAY=:99
          export CHROME_BIN=/usr/bin/google-chrome
          
          # Jeda agar Xvfb siap
          sleep 15
          
          # Jalankan test dengan environment yang sudah kita set di .env
          if [ -z "${{ github.event.inputs.case_name }}" ]; then
            sudo -E sh run-test.sh php ${{ github.event.inputs.solution }}
          else
            sudo -E sh run-test.sh php ${{ github.event.inputs.solution }} ${{ github.event.inputs.case_name }}
          fi
